.home-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
}

.home-background {
        width: 80%;
        text-align: center;
}