.home-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.background-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60vh;
        background-color: #ececec;
        border-radius: 25px;
        padding-top: 40px;
        .home-background {
                width: 90%;
        }
}

.home-title {
        font-weight: bold;
}

