@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  margin: 0;
  font-family: 'Cabin', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-size-larger {
  font-size: 1.2em;
}